/* Reset selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom property */
:root {
    --global-color-1: #800000;
    --border-color: #931420;
}

/* Global styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px; /* Set body width to 800 pixels */
    margin: 0 auto;
        border: 3px solid var(--border-color);
    background-color: #fffded;
}

/* Header styles */
header {
        border-bottom: 3px solid var(--border-color); /* Added bottom border */

    padding: 1.5em 0 2em;
    background: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}
header img {
    float: left;
    padding: 0 30px;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
.shadow {
    text-shadow: 2px 2px 2px var(--global-color-1);
}

/* Main content styles */
main {
    padding: 0; /* Removed left and right padding */
}
main blockquote {
    padding: 0 2em;
    font-style: italic;
}
/* Section styles */
section {
    float: right;
    width: 525px;
    padding: 0 20px 20px 20px; /* Changed padding */
}
/* Style rule for the Speaker of the Month heading */
section h1 {
    font-size: 150%;
    padding: .3em 0;
    border-bottom: 3px solid var(--border-color); /* Add border */
}

section h2 {
    color: var(--global-color-1);
    font-size: 130%;
    padding: .5em 0 .25em 0;
        border-top: 3px solid var(--border-color); /* Add border */

}

/* Aside styles */
aside {
    float: right;
    width: 215px;
    padding-left: 20px; /* Added left padding */
    padding-bottom: 20px; /* Added bottom padding */
}
header h2{
    color: #800000;
}
aside h1 {
        font-size: 130%;
    color: var(--global-color-1);
}
aside h2 {
    color: var(--global-color-1);
    font-size: 130%;
    padding: .5em 0 .25em 0;
}
aside h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

/* Footer styles */
footer {
    clear: both; /* Clear floating */
    background-color: #931420;
}
footer p {
    text-align: center;
    padding: 1em 0;
        background-color: #931420;

}

/* Style rule for hl element */
hl {
    font-size: 150%;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    margin: 0;
}


